/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #141e30, #243b55);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

h2 {
    color: #e94560;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    color: #ddd;
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group label {
    display: block;
    color: #fff;
    font-size: 1rem;
    margin-bottom: 5px;
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1rem;
    transition: all 0.4s ease;
}

.input-group input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
}

button {
    background-color: #e94560;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: transform 0.3s, background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #ff5871;
    transform: translateY(-5px);
}

#error-message {
    color: #ff5871;
    margin-top: 10px;
    display: none;
}

.login-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    background: linear-gradient(45deg, rgba(255, 0, 150, 0.5), rgba(0, 150, 255, 0.5));
    z-index: -1;
    filter: blur(15px);
}

/* Estilos para dispositivos menores */
@media (max-width: 768px) {
    .login-box {
        width: 90%;
        padding: 30px;
    }
    
    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
}